@tailwind base;
@tailwind components;
@tailwind utilities;
  
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #333; /* Dark gray */
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  background-color: rgb(124, 255, 192); 


}




body {
  margin: 0;
  background: radial-gradient(circle, rgb(124, 255, 192) 0%, rgb(0, 0, 0) 100%);
  background-size: 200% 200%;
  animation: gradient 20s ease infinite;



  
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes gradient {
  0%, 100% {
    background-size: 100% 100%;
    background-position: left center;
  }
  50% {
    background-size: 160% 160%;
    background-position: right center;
  }
}














