
.dashboard-content{
    
    display: flex;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    margin-left: 100px;

}
._title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-style: italic;
 margin-left: 120px;
}

.Column_1{
    display: grid;
    grid-template-rows: auto, auto;
  
   
    
}

.Column_2{
    display: grid;
    grid-template-rows: auto, auto;
    
    

}
.Analytics_section{
    text-align: left;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 10px;
    height: 300px;
    width: 780px;
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.1);;
    
}
.My_community_section{
    text-align: left;
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 10px;
    height: 250px;
    width: 780px;
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.1);;
    

}
.School_calendar_section{
    background-color: whitesmoke;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 10px;
    height: 330px;
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.1);;
    
}
.Active_user_section{
   
  
    background-color: rgba(245, 245, 245, 0.822);
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    max-height: 220px; 
    width: 300px;
    overflow: hidden;
    color: black;
    box-shadow:   5px 5px 10px rgba(0, 0, 0, 0.1);;
    
   
    margin: 10px;
}
h2{
    font-size: 30px;
}

.active_{
    color: black;

}
.Active_users{
    max-height: 250px; 
    max-width: 500px;
   
   

}

.online-dot {
    margin: 4px;
    margin-right: 6px;
    width: 15px;
    height: 15px;
    background-color: rgb(9, 255, 9);
    border-radius: 50%;
  }
  .active_user_tag{
    
    display: flex;
    align-items: center; /* Vertically align items */
    margin: 5px;
  }

  .fc-toolbar-title {
    font-size: 5px;
  }

  .fc-toolbar-chunk{
    display: grid;
    grid-template-columns: auto auto;
    padding-right: 5px;
  }

  .fc-fc-media-screen-fc-direction-ltr-fc-theme-standard{
    padding: 40px;
  }
  .fc-dayGridMonth-view {
    
    border-radius: 10px;
  }
  