.fc-toolbar-chunk{
    display:  grid;
    grid-template-columns: auto auto;
 
 }
 
 #fc-dom-86{
     font-size: 20px;
     margin-right: 5px;
     font-weight: bold;
 }
 .fc-toolbar-title{
     padding-right: 20px;
     
 }
 .carousel .slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel .slide.selected {
    opacity: 1;
  }