
.card {
    transition: transform 0.2s ease;
}



.media-container img,
.media-container video,
.media-container audio {
    border-radius: 0.5rem;
    margin-top: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
