.minigame-analytics-container {
   
  }


  
  .chart-container {
    margin-bottom: 1.5rem;
  }
  
  .analysis-section {
    margin-top: 2rem;
  }

  .chart-container:hover {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  }

  