.fc .fc-col-header-cell{
    
 
}



.fc .fc-col-header-cell {
    /* Yellow background */
    color: yellowgreen; /* Black text color */
    font-weight: bold; /* Bold text */
  }

  /* Change the color of the date numbers */
.fc .fc-daygrid-day-number {
    color: yellowgreen; /* Example: Orange color */
    font-weight: bold; /* Optional: Make the date numbers bold */
    padding-right: 20px;
  }
  
  /* Optional: Change color on hover */
  .fc .fc-daygrid-day-number:hover {
    color: gold; /* Darker shade of orange on hover */
  }

  .fc .fc-daygrid-day-top{
    cursor: pointer;
  }

.fc .fc-daygrid-day-events{
    cursor: pointer;
}

th{
 background-color: khaki; 
}